/*  your css code here. If applicable */
.grid{
	width:80%;
	
	display:grid;
    grid-template-columns:repeat(3,1fr);

	background-color:blue;
	
	
	
}
img{
	width:150px;
	height:150px;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:100px;
	border:2px solid black;
}